<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	index page
    <form>
      <a href="/modify">go to modify</a>
    </form>
  </body>
</html>
