<a href="/signup">
    go to signup page
</a>
<form action="/login" method="post">
    id:<input type="text" name="id"><br/>
    password:<input type="password" name="password"><br/>
    <input type="submit" value="login"></button>
</form>