<a href="/login">
    go to login page
</a>
<form action="/signup" method="post">
    id:<input type="text" name="id"><br/>
    name:<input type="text" name="name"><br/>
    password:<input type="password" name="password"><br/>
    email:<input type="email" name="email"><br/>
    <input type="submit" value="login">
</form>
